body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
}

[data-hide],
[data-unhide] {
  position: absolute;
  top: 0;
}
[data-first] {
  height: 64px;
}
[data-second] {
  height: 64px;

  position: relative;
  box-sizing: border-box;

  top: -64px;
}
@media (max-width: 321px) {
  [data-hide] {
    top: 0;
    left: 2200px;
    opacity: 0;
    position: 'absolute' !important;
    display: none;
  }
}
@media (min-width: 321px) {
  [data-unhide] {
    position: 'absolute' !important;
    opacity: 0;
    display: none;
    width: 0;
    top: 0;
    left: 2000;
  }
}
